*{
    margin: 0px;
    padding: 0px;

}
.NavSearch{
    width:  100%;
    min-height: 70px;
    background-color:rgb(128,128,128);
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 2px 4px 1px rgba(0,0,0,.18);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  
}
.logo{
    padding-left: 30px;
    margin-top: 10px;
}
::placeholder{
    padding-left: 10px;
}
.NavSearch input{
    border-radius: 5px;
    border: none;
    color: #14171a;
    font-size: 12px;
    margin-top: 20px;
    width: 40%;
    outline: none;
    position: absolute;
    left: 47%;
    height: 40px;
    padding-left: 30px;

}

.NavSearch ul{
    list-style-type: none; 
    text-align: left;
    margin: 0;
    padding-right: 100px;
    position: absolute;
    left: 47%;
    top: 60px;
    text-overflow: ellipsis;
    background: whitesmoke;
    width: 150px;
    cursor: pointer;
    z-index: 1000;
    max-height: 70%;
    overflow: scroll;
}
.NavSearch ul::before{
    content: "";
}

.NavSearch li{
    padding: 10px 5px;
}



