:root{
    --light-text: #C4C4C4;
    --dark-text: #4e4e4e;
}
*{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: var(--dark-text);
    margin: 0;
    padding: 0;
    line-height: 2em;
}
/* DETAILED COMPONENT */
.detailed-day {
    background-color: rgba(208, 212, 207, 0.45);
    width: 400px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin: 20px;
}

.city-name {
    color: var(--light-text);
    font-size: 60px;
}
.selected-day-name {
    font-size: 36px;
}

.weather-type {
    vertical-align: middle;
}
.weather-type > img,
.weather-type >  span {
    height: 70px;
    font-size: 25px;
    vertical-align: middle;
}

ul {
    list-style: none;
}

.weather-data{
    display: flex;
    align-items: stretch;
    width: 100%;
}

.selected-day-date {
    font-size: 14px;
}

.weather-type img {
    width: 100px;
    height: 100px;
}

.weather-type span {
    font-size: 48px;
}

.detailed-day > h3:nth-child(5) {
    font-size: 76px;
    color: var(--light-text);
    line-height: 90px;
}

.detailed-day > div:nth-child(6) > div:nth-child(1) > span,
.detailed-day > div:nth-child(7) > ul > li:nth-child(1) > span:nth-child(1),
.detailed-day > div:nth-child(7) > ul > li:nth-child(2) > span:nth-child(1),
.detailed-day > div:nth-child(7) > ul > li:nth-child(3) > span:nth-child(1) {
    font-size: 18px;
}

.detailed-day > div:nth-child(6) > div:nth-child(1) > span:nth-child(1),
.detailed-day > div:nth-child(6) > div:nth-child(1) > span:nth-child(2),
.detailed-day > div:nth-child(6) > div:nth-child(1) > span:nth-child(3),
.detailed-day > div:nth-child(7) > ul > li:nth-child(1) > span:nth-child(1),
.detailed-day > div:nth-child(7) > ul > li:nth-child(2) > span:nth-child(1),
.detailed-day > div:nth-child(7) > ul > li:nth-child(3) > span:nth-child(1) {
    color: var(--light-text);
}

.detailed-day > div:nth-child(7) > ul > li:nth-child(1) > span:nth-child(2),
.detailed-day > div:nth-child(7) > ul > li:nth-child(2) > span:nth-child(2),
.detailed-day > div:nth-child(7) > ul > li:nth-child(3) > span:nth-child(2) {
    font-size: 24px;
    color: var(--dark-text);
}

.detailed-day > div:nth-child(7) > ul > li {
    display: inline-block;
    width: 30%;
    margin: 20px 0;
}

.detailed-day > div:nth-child(7) > ul > li > span {
    display: block;
    line-height: 30px;
}

@media only screen
and (max-width : 936px) {
    /* DETAILED COMPONENT */
    .detailed-day {
        width: 100%;
        height: calc(100% - 40px);
        margin: 0;
        border-radius: 0;
        padding: 0;
    }

    .weather-data{
        flex-direction: column;
    }

    .showDays {
        left: 2%;
    }

    /*    THESE ARE */
    .city-name {
        font-size: 40px;
    }

    .selected-day-name {
        font-size: 28px;
        font-weight: bold;
    }

    #root > div > div > div > div > div.weather-type > span {
        font-size: 35px;
    }

    #root > div > div > div > div > div.weather-type > img {
        width: 60px;
        height: 60px;
    }

    .selected-day-date {
        font-size: 14px;
    }

    .detailed-day > h3:nth-child(5) {
        font-size: 60px;
        line-height: 60px;
    }

    .detailed-day > div:nth-child(6) > div:nth-child(1) > span,
    .detailed-day > div:nth-child(7) > ul > li:nth-child(1) > span:nth-child(1),
    .detailed-day > div:nth-child(7) > ul > li:nth-child(2) > span:nth-child(1),
    .detailed-day > div:nth-child(7) > ul > li:nth-child(3) > span:nth-child(1) {
        font-size: 14px;
    }

    .detailed-day > div:nth-child(7) > ul > li:nth-child(1) > span:nth-child(2),
    .detailed-day > div:nth-child(7) > ul > li:nth-child(2) > span:nth-child(2),
    .detailed-day > div:nth-child(7) > ul > li:nth-child(3) > span:nth-child(2) {
        font-size: 20px;
    }

    .detailed-day > div:nth-child(7) > ul > li {
        width: 30%;
        margin: 10px 0;
    }

    .detailed-day > div:nth-child(7) > ul > li > span {
        line-height: 30px;
    }
}

.mobile {
    display: block;
}

.desktop {
    display: none;
}

@media only screen and (min-width: 936px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }
}